[submodule "BinaryKnapsackBlock"]
	path = BinaryKnapsackBlock
	url = https://github.com/plan4res/BinaryKnapsackBlock
	branch = master
[submodule "BundleSolver"]
	path = BundleSolver
	url = https://github.com/plan4res/BundleSolver
	branch = master
[submodule "CapacitatedFacilityLocationBlock"]
	path = CapacitatedFacilityLocationBlock
	url = https://github.com/plan4res/CapacitatedFacilityLocationBlock
	branch = master
[submodule "MILPSolver"]
	path = MILPSolver
	url = https://github.com/plan4res/MILPSolver
	branch = master
[submodule "SMSplusplus"]
	path = SMSplusplus
	url = https://github.com/plan4res/SMSplusplus
	branch = master
[submodule "InvestmentBlock"]
	path = InvestmentBlock
	url = https://github.com/plan4res/InvestmentBlock
	branch = master
[submodule "LagrangianDualSolver"]
	path = LagrangianDualSolver
	url = https://github.com/plan4res/LagrangianDualSolver
	branch = master
[submodule "LukFiBlock"]
	path = LukFiBlock
	url = https://github.com/plan4res/LukFiBlock
	branch = master
[submodule "MCFBlock"]
	path = MCFBlock
	url = https://github.com/plan4res/MCFBlock
	branch = master
[submodule "MMCFBlock"]
	path = MMCFBlock
	url = https://github.com/plan4res/MMCFBlock
	branch = master
[submodule "SDDPBlock"]
	path = SDDPBlock
	url = https://github.com/plan4res/SDDPBlock
	branch = master
